.dogTag {
    height: 250px;
    width: 200px;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    background-color: black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
}
 
.dogTag a {
    text-decoration: none;
    color: white;
}

.dogTag a:visited {
    text-decoration: none;
    color: white;
}

.dogTag h2 {
    font-size: 20px;
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.dogTag p {
    font-size: 12px;
    font-weight: 600;
    padding: 5px;
    height: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dogTag img {
    width: 100px;
    border-radius: 50%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

@media screen and (max-width: 768px) {
    .dogTag {
        height: 300px;
        min-width: 70%;
        width: 85%;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 15px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
        position: relative;
    }

    .dogTag h2 {
        padding: 15px;
    }
}