@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:900|Asap&display=swap");

.hamburger_nav {
  display: none;
  transition: 0.5s;
}

@media screen and (max-width: 768px) {
  .hamburger_nav {
    display: initial;
    width: 100%;
    height: 40px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition: 0.5s;
  }

  .hamburger_nav img {
    height: 35px;
    width: 35px;
    position: absolute;
    top: 3px;
    left: 5px;
    transition: 0.5s;
  }

  .hamburger {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: 0.4s;
  }

  .hamburger_clicked {
    width: 30px;
    height: 30px;
    position: fixed;
    top: 15px;
    right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: 0.5s;
  }

  .hamburger:hover,
  .hamburger_clicked {
    cursor: pointer;
    transition: 0.5s;
  }

  .hamburger_clicked .ham_line2 {
    display: none;
    transition: 0.5s;
  }

  .hamburger_clicked .ham_line1,
  .hamburger_clicked .ham_line3 {
    z-index: 500;
    transition: 0.5s;
  }

  .hamburger_clicked .ham_line1 {
    transform: translate(0px, 7px) rotate(44deg);
    transition: 0.5s;
  }

  .hamburger_clicked .ham_line3 {
    transform: translate(0px, -8px) rotate(135deg);
    transition: 0.5s;
  }

  .ham_line1,
  .ham_line2,
  .ham_line3 {
    height: 4px;
    width: 100%;
    background-color: black;
    border-radius: 5px;
    transition: 0.5s;
  }

  .hamburger_links_clear {
    display: none;
    transition: 1s all;
  }

  .hamburger_links {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 300;
    background-color: #c23a57;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transition: 1s all;
  }

  .hamburger_links ul {
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    transition: 0.5s;
  }

  .hamburger_links li {
    padding: 8px 0px;
    transition: 0.5s;
  }

  .hamburger_links a {
    text-decoration: none;
    color: white;
    font-family: "Alegreya Sans SC", sans-serif;
    letter-spacing: 2px;
    font-size: 2rem;
    transition: 0.5s;
  }

  .hamburger_links a:visited {
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    transition: 0.5s;
  }
}
