/* ABOUT US SECTION DESIGN */

.banner_aboutUs {
    background: 
    url("../Images/aboutUsBackground.jpg") 
    no-repeat
    fixed;
    background-size: 2250px 1500px;
    position: relative;
    width: 100%;
    color: white;
    overflow: hidden;
}

.Overlay_aboutUs {
    padding: 150px 100px 25% 100px;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.Overlay_aboutUs h2 {
    font-size: 4rem;
    width: 60%;
}

.Overlay_aboutUs p {
    margin-top: 10px;
    font-size: 1.5rem;
    word-spacing: 3px;
    width: 50%;
}

@media screen and (max-width: 768px) {
/* ABOUT US SECTION DESIGN */
    .banner_aboutUs {
        background: 
        url("../Images/aboutUsBackground.jpg") 
        no-repeat
        center
        center
        fixed;
        background-size: cover;
        background-size: 2250px 1500px;
        position: relative;
        color: white;
        overflow: unset;
        padding: unset;
    }

    /* ABOUT US */

    .Overlay_aboutUs {
        padding: 10vh 20px 50% 20px;
        text-align: center;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .Overlay_aboutUs h2 {
        font-size: 3.5rem;
        text-align: center;
        width: 100%;
    }

    .Overlay_aboutUs p {
        margin-top: 20px;
        font-size: 1.3rem;
        word-spacing: 2px;
        width: 100%;
        text-align: center;
    }
}

@media screen and (width: 768px) and (height: 1024px) {
    .Overlay_aboutUs {
        padding: 100px 20px 460px 20px;
    }
}