.pupPage_main {
    min-height: 105vh;
    height: auto;
}

.pupContainer {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}

.pupPage, .messages {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    width: 90%;
    height: auto;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.pupPage {
    margin-bottom: 50px;
    position: relative;
}

.pupPage img {
    height: 60vh;
    width: 700px;
    border: 3px solid #bbb1eb;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.pupPage h2, .messages h2 {
    font-size: 3rem;
    padding: 20px;
}

.pupPage p {
    font-size: 30px;
    padding: 10px;
}

#pupPage_desc {
    font-size: 1rem;
    padding: 5px;
}

#pupPage_date {
    font-size: 12px;
    padding: 5px;
}

#backBtn  {
    color: white;
    position: absolute;
    background-color: black;
    z-index: 2;
    top: 90px;
    left: 90px;
    width: 120px;
    height: 30px;
    border: 1px solid white;
}

#backBtn:hover {
    cursor: pointer;
}

#deleteDogTag {
    background-color: white;
    width: auto;
    height: 30px;
    width: 90px;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 4px;
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

#deleteDogTag:hover {
    background-color: rgb(170, 170, 170);
    color: black;
    cursor: pointer;

}

.messages {
    margin-bottom: 100px;
}

.messages div {
    height: 500px;
    padding: 20px;
    width: 90%;
    border: 1px solid white;
    margin-left: auto;
    margin-right: auto;
    overflow: scroll;
}

.messages input {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 10px;
    height: 70px;
    text-align: left;
    padding: 20px;
    line-break: normal;
}

.messages form {
    position: relative;
    height: 140px
}

.messages form button {
   height: 35px;
   border: 1px solid white;
   border-radius: 5px;
   background-color: black;
   color: white;
   width: 110px;
   position: absolute;
   bottom: 0px;
   right: 60px;
}

.messages form button:hover {
cursor: pointer;
}

.comments {
    list-style-type: none;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.comments li {
    list-style-type: none;
}

.comments h4 {
    font-size: 24px;
}

#comment_date {
    font-size: 12px;
}

@media screen and (max-width: 768px) {
    
    .pupPage, .messages {
        display: flex;
        flex-direction: column;
        text-align: center;
        color: white;
        width: 100%;
        height: auto;
        margin-top: 80px;
        margin-left: unset;
    }

    .pupPage {
        margin-bottom: 0px;
    }
    
    .pupPage img {
        height: 100%;
        width: 80%;
        border: 3px solid rgb(75, 228, 36);
        border-radius: 5px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .pupPage h2 {
        font-size: 3rem;
        padding: 20px;
    }
    
    .pupPage p {
        font-size: 30px;
        padding: 20px;
    }
    
    #backBtn  {
        position: absolute;
        background-color: black;
        top: 80px;
        left: 30px;
        width: 120px;
        height: 30px;
    }
}

/* IPAD ONLY */

@media screen and (width: 768px) and (height: 1024px) {
    .pupPage_main {
        height: auto;
    }

    .pupPage {
        height: 800px;
        margin-left: unset;
    }
}