.header {
  font-size: 4.5rem;
  color: #c23a57;
  text-align: center;
}

.subHeader {
  font-size: 1.5rem;
  text-align: center;
}

.actionButton {
  width: 150px;
  height: 60px;
  color: black;
  background-color: #c23a57 !important;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 10px;
  transition: all 0.9s;
  border: none !important;
  color: rgb(255, 255, 255);
}

.actionButton:hover {
  cursor: pointer;
  background-color: #f44336 !important;
  color: white;
}

/* SECTION 3 */
.section_3_container {
  height: auto;
}

.section_3_header {
  font-size: 3rem;
  color: #c23a57;
}

.roundedPuppy {
  border-radius: 50%;
  width: 125px;
  height: 125px;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .header {
    font-size: 6.5rem;
    color: #c23a57;
    text-align: left;
  }

  .subHeader {
    font-size: 2rem;
    text-align: left;
  }

  .actionButton {
    width: 200px;
    height: 75px;
  }

  .section_3_header {
    font-size: 4rem;
  }

  .roundedPuppy {
    border-radius: 50%;
    min-width: 250px;
    max-width: 250px;
    height: 250px;
    object-fit: cover;
  }

  .section_3_container {
    min-height: 80vh;
  }
}

/* SECOND SECTION DESIGN */

.SecondLayer {
  height: auto;
  color: white;
  padding: 20px;
  background-color: black;
  overflow: hidden;
}

.three_Icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 0px 20px 50px 20px;
}

.three_Icons div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.three_Icons img {
  padding: 10px;
  width: 210px;
  height: 210px;
}

.three_Icons p {
  font-size: 1.5rem;
  padding: 20px 20px 0px 20px;
}

/* FOOTER */

footer {
  width: 100%;
  color: black;
  text-align: center;
  height: 25px;
}

@media screen and (max-width: 768px) {
  /* SECOND SECTION DESIGN */

  .SecondLayer {
    height: auto;
    color: white;
    padding: 20px;
  }

  .three_Icons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    padding: 0px 20px 50px 20px;
  }

  .three_Icons img {
    padding: 10px;
    width: 210px;
    height: 210px;
  }

  .three_Icons p {
    font-size: 1rem;
    padding: 10px;
  }

  .three_Icons div {
    margin-top: 50px;
  }

  /* FOOTER */

  footer {
    width: 100%;
    color: black;
    text-align: center;
    height: 25px;
  }
}
