.loginBG {
    height: 92.5vh;
    background-color: black;
    color: white;
    margin-top: 100px;
}

.login {
    background-color: black;
    width: 450px;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
}

.login img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.login label, .login input, .login button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.login label {
    padding: 10px;
}

.login input {
    width: 40%;
    border-radius: 5px;
    border: none;
    height: 6%;
}

.login button {
    margin-top: 20px;
    padding: 5px;
    width: 30%;
    height: 6%;
    border: solid 2px white;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.login button:hover {
    cursor: pointer;
}

.loginBG div {
    height: 600px;
    background-color: white;
    width: 450px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 50px;
}

.loginBG a {
    color: white;
    position: absolute;
    bottom: 100px;
    right: 140px;
}

.loginError {
    height: 100px;
    margin-top: 100px;
    position: absolute;
    top: -110px;
    right: 23%;
}

.loginError p {
    height: 100%;
}

.regError {
    background-color: black;
    text-align: center;
}

.regError p {
    height: 100%;
}

@media screen and (max-width: 768px) {
    .loginBG {
        height: 92.5vh;
        background-color: black;
        color: white;
    }

    .loginBG div {
        height: 70%;
        width: 100%;
        background-color: black;
    }

    .loginBG a {
        color: white;
        position: absolute;
        bottom: 0;
        right: 34%;
        background-color: black;
    }
    
    .login {
        background-color: black;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        margin-top: 10%;
        position: relative;
    }
    
    .login img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
    }
    
    .login label, .login input, .login button {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    
    .login label {
        padding: 10px;
    }
    
    .login input {
        width: 35%;
        max-width: 40%;
        border-radius: 5px;
        border: none;
        height: 40px;
    }
    
    .login button {
        margin-top: 20px;
        padding: 5px;
        width: 30%;
        height: 30px;
        border: 1px solid white;
        border-radius: 5px;
    
    }

}